<section  class="ftco-about ftco-counter ftco-section mandatory-scroll-snapping" dir="ltr" id='about-section'>
          <div class="container" id="aboutContainer">
              <div  data-aos="fade-left"
              data-aos-offset="300"
     data-aos-easing="ease-in-sine" class="aboutTextDiv">
                  <p class="aboutText">
                      Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                      Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                      when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                      It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                      It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                  </p>
                </div>
              <div data-aos="fade-right"
     data-aos-offset="300"
     data-aos-easing="ease-in-sine" class="myPicture">
                  <div class="firstRectangle">
                      <div id="firstCurr"></div>
                  </div>
                  <div class="secondRectangle">
                      <div id="secondCurr"></div>
                  </div>
              </div>
            
          </div>
      </section>