<section id='home-section' class="mandatory-scroll-snapping" dir="ltr">
          <div class="home-image">
              <div class="container animated-text">
                  <h1>Professional software developer.</h1>
              </div>
          </div>
      </section>