<section dir="ltr" class="ftco-counter ftco-section mandatory-scroll-snapping" id='skills-section'>
          <div class="container">
              <div class="flex-container aboutContainer">
                <ul class="cards-split" data-aos="zoom-in-down" id='firstStack'>
                    <li class="card card-1" id='card-first'>
                        <a class="attribute" id='attribute-1' onclick="secondTransitionTrigger(this.id)" >
                        <div style="height: 100%" class="smallSkill">
                        <div class="skillItem" id="card-1"></div>
                        <div class="content">
                            <h4>Web Development</h4>
                        </div>
                        </div>

                        <div class="remove bigSkill">
                            <div class="bigSkill">
                            <div class="bigSkillPoints">
                                <ul id="webDevSkills">
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>React</li>
                                    <li>Angular</li>
                                    <li>Javascript</li>
                                    <li>Node.js</li>
                                </ul>
                            </div>
                            <div class="bigSkillText">
                            <p style="margin: auto" id="texttest">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                It has survived not only five centuries, but also the leap into electronic typesetting, 
                                remaining essentially unchanged. 
                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            </div>
                            </div>
                            <br>
                            <div class="bigSkillImages">
                                <div style="display: flex;">
                                <div class="imageFive skillImage"></div>
                                <div class="imageSix skillImage"></div>
                                <div class="imageOne skillImage"></div>
                                <div class="imageTwo skillImage"></div>
                                <div class="imageThree skillImage"></div>
                                <div class="imageFour skillImage"></div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </li>
                    <li class="card card-2" id='card-second'>
                        <a class="attribute" id='attribute-2' onclick="secondTransitionTrigger(this.id)">
                        <div style="height: 100%;" class="smallSkill">
                            <div class="skillItem" id="card-2"></div>
                            <div class="content">
                                <h4>Back-end programming</h4>
                            </div>
                        </div>


                        <div class="remove bigSkill">
                            <div class="bigSkill">
                            <div class="bigSkillPoints">
                                <ul>
                                    <li>C#</li>
                                    <li>Java</li>
                                    <li>Python</li>
                                </ul>
                            </div>
                            <div class="bigSkillText">
                            <p style="margin: auto">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                It has survived not only five centuries, but also the leap into electronic typesetting, 
                                remaining essentially unchanged. 
                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            </div>
                            </div>
                            <br>
                            <div class="bigSkillImages">
                                <div style="display: flex;">
                                <div class="imageFive skillImage"></div>
                                <div class="imageSix skillImage"></div>
                                <div class="imageOne skillImage"></div>
                                <div class="imageTwo skillImage"></div>
                                <div class="imageThree skillImage"></div>
                                <div class="imageFour skillImage"></div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </li>
                    <li class="card card-3" id='card-third'>
                        <a class="attribute" id='attribute-3' onclick="secondTransitionTrigger(this.id)">
                        <div style="height: 100%" class="smallSkill">
                            <div class="skillItem" id="card-3"></div>
                            <div class="content">
                                <h4>Databases</h4>
                            </div>
                        </div>

                        <div class="remove bigSkill">
                            <div class="bigSkill">
                            <div class="bigSkillPoints">
                                <ul>
                                    <li>MicrosoftSQL</li>
                                    <li>MongoDB</li>
                                    <li>MariaDB</li>
                                </ul>
                            </div>
                            <div class="bigSkillText">
                            <p style="margin: auto">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                It has survived not only five centuries, but also the leap into electronic typesetting, 
                                remaining essentially unchanged. 
                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            </div>
                            </div>
                            <br>
                            <div class="bigSkillImages">
                                <div style="display: flex;">
                                <div class="imageOne skillImage"></div>
                                <div class="imageTwo skillImage"></div>
                                <div class="imageThree skillImage"></div>
                                <div class="imageFour skillImage"></div>
                                <div class="imageFive skillImage"></div>
                                <div class="imageSix skillImage"></div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </li>
                </ul>
                <ul class="cards-split" data-aos="zoom-in-up" id="secondStack">
                    <li class="card card-4" id='card-fourth'>
                        <a class="attribute" id='attribute-4' onclick="secondTransitionTrigger(this.id)">
                        <div style="height: 100%;" class="smallSkill">
                            <div class="skillItem" id="card-4"></div>
                            <div class="content">
                                <h4>SEO</h4>
                            </div>
                        </div>

                        <div class="remove bigSkill">
                            <div class="bigSkill">
                            <div class="bigSkillPoints">
                                <ul>
                                    <li>React</li>
                                    <li>Angular</li>
                                    <li>Javascript</li>
                                    <li>Node.js</li>
                                    <li>moustache</li>
                                </ul>
                            </div>
                            <div class="bigSkillText">
                            <p style="margin: auto" id="texttest">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                It has survived not only five centuries, but also the leap into electronic typesetting, 
                                remaining essentially unchanged. 
                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            </div>
                            </div>
                            <br>
                            <div class="bigSkillImages">
                                <div style="display: flex;">
                                <div class="imageOne skillImage"></div>
                                <div class="imageTwo skillImage"></div>
                                <div class="imageThree skillImage"></div>
                                <div class="imageFour skillImage"></div>
                                <div class="imageFive skillImage"></div>
                                <div class="imageSix skillImage"></div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </li>
                    <li class="card card-5" id='card-fifth'>
                        <a class="attribute" id='attribute-5' onclick="secondTransitionTrigger(this.id)">
                        <div style="height: 100%;" class="smallSkill">
                            <div class="skillItem" id="card-5"></div>
                            <div class="content">
                                <h4>Business consultant</h4>
                            </div>
                        </div>

                        <div class="remove bigSkill">
                            <div class="bigSkill">
                            <div class="bigSkillPoints">
                                <ul>
                                    <li>React</li>
                                    <li>Angular</li>
                                    <li>Javascript</li>
                                    <li>Node.js</li>
                                    <li>moustache</li>
                                </ul>
                            </div>
                            <div class="bigSkillText">
                            <p style="margin: auto">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                It has survived not only five centuries, but also the leap into electronic typesetting, 
                                remaining essentially unchanged. 
                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            </div>
                            </div>
                            <br>
                            <div class="bigSkillImages">
                                <div style="display: flex;">
                                <div class="imageOne skillImage"></div>
                                <div class="imageTwo skillImage"></div>
                                <div class="imageThree skillImage"></div>
                                <div class="imageFour skillImage"></div>
                                <div class="imageFive skillImage"></div>
                                <div class="imageSix skillImage"></div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </li>
                    <li class="card card-6" id='card-sixth'>
                        <a class="attribute" id='attribute-6' onclick="secondTransitionTrigger(this.id)">
                        <div style="height: 100%" class="smallSkill">
                            <div class="skillItem" id="card-6"></div>
                            <div class="content">
                                <h4>Soft skills</h4>
                            </div>
                        </div>

                        <div class="remove bigSkill">
                            <div class="bigSkill">
                            <div class="bigSkillPoints">
                                <ul>
                                    <li>React</li>
                                    <li>Angular</li>
                                    <li>Javascript</li>
                                    <li>Node.js</li>
                                    <li>moustache</li>
                                </ul>
                            </div>
                            <div class="bigSkillText">
                            <p style="margin: auto">Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                                when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                                It has survived not only five centuries, but also the leap into electronic typesetting, 
                                remaining essentially unchanged. 
                                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, 
                                and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                            </div>
                            </div>
                            <br>
                            <div class="bigSkillImages">
                                <div style="display: flex;">
                                <div class="imageOne skillImage"></div>
                                <div class="imageTwo skillImage"></div>
                                <div class="imageThree skillImage"></div>
                                <div class="imageFour skillImage"></div>
                                <div class="imageFive skillImage"></div>
                                <div class="imageSix skillImage"></div>
                                </div>
                            </div>
                        </div>
                        </a>
                    </li>
                </ul>
                </div>
                </div>
                </section>
