<!DOCTYPE html>
<html lang="nl">
    <head>
      {{> links}}
    </head>
    <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
        {{> nav}}
        {{> index}}
        {{> about}}
        {{> skills}}
        {{> projects}}
    </body>
</html>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script  src="https://unpkg.com/onscreen/dist/on-screen.umd.min.js"></script>
<script>
    
    AOS.init();
    var os = new OnScreen();

    jQuery(document).ready(
        
    );


    os.on('enter', '.secondRectangle', (element, event) =>
    {
        $('#firstCurr').addClass("firstCurrent");

        function addCurrent()
        {
            $('#secondCurr').addClass("secondCurrent");
        }

        window.setTimeout( addCurrent, 500);
    });

    os.on('leave', '.secondRectangle', (element, event) =>
    {
        $('#firstCurr').removeClass("firstCurrent");
        $('#secondCurr').removeClass("secondCurrent");
    });


    function secondTransitionTrigger(attributeName)
    {
          var exception = $('#' + attributeName).parent().attr('id');

          const s = 'attribute-';
          if(attributeName == s + '1' || attributeName == s + '2' || attributeName ==  s +'3')
          {
              $('#' + exception).toggleClass('expandCard');
              if($("#" + exception).hasClass('expandCard'))
              {

                  $("#" + exception).find('a').children(".smallSkill").addClass("remove");
                $(".bigSkill").hide().fadeIn(1500);

              } else {
                  
                  $("#" + exception).find('a').children(".smallSkill").removeClass("remove");
                  $("#" + exception).find('a').children(".smallSkill").hide().fadeIn(800);
              }

              
          }
          else if(attributeName == s + '4' || attributeName == s + '5' || attributeName == s + '6')
          {
              $('#' + exception).toggleClass('expandCardSecond');

              if($("#" + exception).hasClass('expandCardSecond'))
              {
                  $("#" + exception).find('a').children(".smallSkill").addClass("remove");
                $(".bigSkill").hide().fadeIn(1500);
              } else {
                  $("#" + exception).find('a').children(".smallSkill").removeClass("remove");
                  $("#" + exception).find('a').children(".smallSkill").hide().fadeIn(800);
              }
          }

          secondTransition(exception);
          
          
    }


    function secondTransition(exception)
      {
        $('li.card').not('#' + exception).toggleClass('secondTransition');
      };

  os.on('enter', '#secondStack', (element, event) =>
    {
        function displayAnimation()
        {
            $('ul.cards-split').addClass('transition');
        }
        
        window.setTimeout( displayAnimation, 50);
    });

    os.on('leave', '#secondStack', (element, event) =>
    {
        $('ul.cards-split').removeClass('transition');

    });
  

 

</script>